@media screen and (max-width: 800px) {

    @keyframes twopanel-right {
        0% {transform: translateX(100%);}
        100% {transform: translateX(0);}
    }

    @keyframes twopanel-left {
        0% {transform: translateX(-40%);}
        100% {transform: translateX(0);}
    }

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    #headerContent {
        width: 100% !important;
        flex-flow: column !important;
        align-items: start !important;
    }

    /* focus is on left side */
    .focused-left {
        width: 90%;
    }
    .unfocused-right {
        position: fixed;
        left: 90%;
    }

    /* focus is on right side */
    .unfocused-left {
        margin-left: -40%;
        right: 90% !important;
    }
    .focused-right {
        width: 90% !important;
    }
}
